form {
    text-align: center;
}

h1 {
    padding-bottom: 50px;
}

table {
    margin: 30px auto;
    width: 50%;
}

#table-head {
    font-size: 2rem;
    text-align: left;
}



#title {
    text-align: center;
}