#form-data {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

h1 {
    padding-bottom: 50px;
}

table {
    margin: 50px auto;
    text-align: left;
    width: 60%;
}

#table-head {
    font-size: 2rem;
    text-align: left;
}



#title {
    text-align: center;
}